@model GroupViewModel

@{
    ViewData["Title"] = "Edit Group";
}

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Link" />
            <input type="hidden" asp-for="CreationDate" />
            <input type="hidden" asp-for="PictureUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId"
                        asp-items="Model.GroupTypes"
                        class="form-control"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrivacyId" class="control-label"></label>
                <select asp-for="PrivacyId"
                        asp-items="Model.Privacies"
                        class="form-control"></select>
                <span asp-validation-for="PrivacyId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save Edition" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancel Creation</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
