@model IEnumerable<Tetas.Common.ViewModels.GroupModel>

@{
    ViewData["Title"] = "My Groups"; 
}
 
<div id="myGroups">
    
</div>
 
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    var url = '@Url.Action("MyGroups", "Groups")';
    $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
            $('#myGroups').html(response);
        }
    }); 

</script>
