@model PostCommentViewModel

@{
    ViewData["Title"] = "Create Comment";
}
 
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PostId" />

            <div class="form-group">
                <label>Comment Title</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea rows="3" asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save Creation" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancel Creation</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
