@model Tetas.Domain.Entities.Post

@{
    ViewData["Title"] = "Edit Post";
}

 
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="Owner" />
            <input type="hidden" asp-for="UpdatedDate" />

            <div class="form-group">
                @*<label asp-for="Name" class="control-label"></label>*@
                <label>Post Title</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>

                <textarea rows="6" asp-for="Body" class="form-control"></textarea>

                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Edit Post" class="btn btn-primary" />
                <a asp-controller="Posts" asp-action="Index" class="btn btn-default">Cancel Edition</a>
            </div>
           
        </form>
    </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
