@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>
<br/>
<h1>
    Track Education For Teachers and Students
</h1>
<hr/>
<p style="font-size: x-large;color:cornflowerblue">
    Tetas is an open source social networking web application that 
    provides a robust app on which to build all kinds of social environments,
    from a campus wide social network for your university, school or college 
    or an internal collaborative platform for your organization through to a 
    brand-building communications tool for your company and its clients. But 
    the main goal is communicate teachers and student than need to be connected 
    but don’t want to mix personal and professional environments.
</p>
